section,
footer {
    padding: 60px 0;
}

.showcase-img {
    background-size: cover;
    background-position: center;
}

.showcase-text {
    padding: 50px;
}

.showcase {
    padding: 0;
}

.location-item {
    max-width: 200px;
}

.rounded-circle {
    width: 150px;
    height: 150px;
}

.call-to-action {
    background-image: url(../img/slider-2.jpg);
    background-size: cover;
    background-position: center;
}

.carousel-item {
    max-height: 300px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .service-item,
    .location-item {
        margin-bottom: 50px;
    }

    .service-item:last-child,
    .location-item-last {
        margin: 0;
    }

    .showcase-img {
        height: 300px;
    }
}

